<%= form_with(model: habit, local: true) do |form| %>
  <% if habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% habit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>

  <div class="form-group field">
    <%= form.label :description, "Description (optional)" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Enter Description" %>
  </div>

  <div class="form-group field">
    <%= form.label :habit_type, "Habit Type" %>
    <%= form.select :habit_type, [["With Yes or No each day", "binary"], ["With a threshold", "number"]] %>
  </div>

  <div class="form-group field">
    <%= form.label :threshold %>
    <%= form.text_field :threshold, class: "form-control", placeholder: "Enter threshold" %>
  </div>

  <div class="form-group field">
    <%= form.label :unit %>
    <%= form.text_field :unit, class: "form-control", placeholder: "Enter unit" %>
  </div>

  <div class="form-group field">
    <%= form.label :min_or_max, "Minimum/Maxium" %>
    <%= form.select :min_or_max, [["At least", "least"], ["At most", "most"]] %>
  </div>

  <div class="form-group field">
    <%= form.label :target_streak, "Target Streak" %>
    <%= form.number_field :target_streak, class: "form-control", placeholder: "Enter target streak" %>
  </div>

  <div class="form-group field">
    <%= form.label(:is_public, "Do you want to challenge public with your habit?") %>
    <%= form.check_box :is_public %>
  </div>

  <div class="form-group field">
    <%= form.label :frequency %>
    <%= form.select :frequency, ["daily", "weekly", "monthly", "yearly"] %>
  </div>

  <div class="form-group field">
    <%= form.label :number_of_days, "Number of Days Per Period" %>
    <%= form.number_field :number_of_days, class: "form-control", placeholder: "Enter number of days" %>
  </div>

  <div class="actions">
    <%= form.submit "Save Habit Profile", class: "btn btn-primary"%>
  </div>
  
<% end %>
