
<p>
  <strong>Name:</strong>
  <%= @habit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @habit.description %>
</p>

<p>
  <strong>Habit type:</strong>
  <%= @habit.habit_type %>
</p>

<p>
  <strong>Threshold:</strong>
  <%= @habit.threshold %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @habit.unit %>
</p>

<p>
  <strong>Min or max:</strong>
  <%= @habit.min_or_max %>
</p>

<p>
  <strong>Target streak:</strong>
  <%= @habit.target_streak %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @habit.is_public %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @habit.frequency %>
</p>

<p>
  <strong>Number of days:</strong>
  <%= @habit.number_of_days %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
