<div class="card">
  <div class="card-header">
    <h1>
      Habit Name: <%= @habit.name %>
    </h1>
  </div>
  <div class="card-body">
    <p><strong>Description: </strong><%= @habit.description %></p>
    <p><strong>Habit type: </strong><%= @habit.habit_type %></p>
    <p><strong>Threshold: </strong><%= @habit.threshold %></p>
    <p><strong>Unit: </strong><%= @habit.unit %></p>
    <p><strong>Min or max: </strong><%= @habit.min_or_max %></p>
    <p><strong>Target streak: </strong><%= @habit.target_streak %></p>
    <p><strong>Is public: </strong><%= @habit.is_public %></p>
    <p><strong>Frequency: </strong><%= @habit.frequency %></p>
    <p><strong>Number of days: </strong><%= @habit.number_of_days %></p>
    <small>Created by: <%= @habit.user&.full_name || 'DELETED' %></small>
    <div class= "mb-3 mt-2">
      <%= link_to 'Edit Habit Profile', edit_habit_path(@habit), class: "btn btn-primary" %> |
      <%= link_to 'Delete Habit Profile', habit_path(@habit), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
  </div>
</div>

