<div class="card">
  <div class="card-header">
    <h1>
      Habit Name: <%= @habit.name %>
    </h1>
  </div>
  <div class="card-body">
    <p><strong>Description: </strong><%= @habit.description %></p>
    <p><strong>Habit type: </strong><%= @habit.habit_type %></p>
    <p><strong>Threshold: </strong><%= @habit.threshold %></p>
    <p><strong>Unit: </strong><%= @habit.unit %></p>
    <p><strong>Min or max: </strong><%= @habit.min_or_max %></p>
    <p><strong>Target streak: </strong><%= @habit.target_streak %></p>
    <p><strong>Is public: </strong><%= @habit.is_public %></p>
    <p><strong>Frequency: </strong><%= @habit.frequency %></p>
    <p><strong>Number of days: </strong><%= @habit.number_of_days %></p>
    <small>Created by: <%= @habit.user&.full_name || 'DELETED' %></small>
    <div class= "mb-3 mt-2">
      <%= link_to 'Edit Habit Profile', edit_habit_path(@habit), class: "btn btn-primary" %> |
      <%= link_to 'Delete Habit Profile', habit_path(@habit), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<section>
  <h1>Habit Checking</h1>
  <%= form_with(model: [@habit, @tackled_habit], local: true) do |form| %>
  <%# form_with url:  habit_tackled_habits_path(@habit) , local: true do |form| %>
    <% if @tackled_habit.errors.present? %>
      <p class="form-errors">
        <%= @tackled_habit.errors.full_messages.join(", ") %>
      </p>
    <% end %>

    <div class="form-group">
      <%= form.label :checkin_date, "Check-in Date" %>
      <%= form.date_field(:checkin_date, max: Date.today, placeholder: "Check-in Date", class: "form-control") %>
    </div>

    <div class="form-group">
      <%= form.label :checkin_value, "Check-in Value (Blank value for already checked-in day to undo a check-in)" %>
      <%= form.number_field(:checkin_value, step: :any, placeholder: "Check-in Value", class: "form-control") %>
    </div>

    <div class="form-group field">
      <%= form.label(:is_reminder, "Do you want to receive reminder prompts?") %>
      <%= form.check_box :is_reminder %>
    </div>

    <%= form.submit "Check In" %>
  <% end %>

  <ul class="tackled-habits-list">
    <% @tackled_habits.each do |tackled_habit| %>
      <li>
        <p>
          <%= tackled_habit.checkin_dates %> <br>
          <%= tackled_habit.checkin_values %> <br>
          <small>
            <%=
              link_to(
                "Delete",
                habit_tackled_habit_path(@habit, tackled_habit),
                method: :delete,
                data: {
                  confirm: "Are you sure?"
                }
              )
            %>
          </small>
          •
          <small>
            <%= tackled_habit.user&.full_name || 'DELETED' %>
            started tackling <%= @habit.name %> habit <%= time_ago_in_words(tackled_habit.created_at) %> ago
          </small>
        </p>
      </li>
    <% end %>
  </ul>
</section>

